<% /* Note: This is injected into `views/layouts/layout-email.ejs` */ %>
<p style="margin-bottom: 25px;">Welcome</p>
<div style="margin-bottom: 25px; text-align: center;">
    <p><img src="data:image/jpg;base64,{{base64-data-string here}}" /></p>
</div>
<p style="margin-bottom: 25px;">Please be safe. </p>
<p style="margin-bottom: 5px;">Sincerely,</p>
<p style="margin-top: 0;">Rutvik</p>
